# .streamlit/secrets.toml
# In Streamlit Cloud, do NOT commit this file to GitHub!
# Instead, paste these lines into your Streamlit Cloud app settings under "Secrets":

OPEN_ROUTER_API = "sk-or-v1-your-openrouter-api-key-here"
